
.djangobb { position: relative; }
.pagetools { float: right; }

/* tables */
.blocktable table {
  border-collapse: collapse; padding: 0px; width: 100%; clear: both;
}
.blocktable th { background: #444444; color: #aaaaaa; font-weight: normal; }
.blocktable table td, .blocktable table th { border: 1px solid grey; padding: 2px; }

.blockpost { clear: both; margin: 0; }

.tc2, .tc3 { width: 5em; text-align: center; }
.tcr { width: 16em; }

.byuser { font-size: 12px; font-style: italic; }
.inew a { font-weight: bold; }

.licon { padding-left: 18px; }

.postfooter { padding: 4px; clear: both; text-align: right; border-top: 1px dotted; }
.postfooter li { float: left; margin-left: 5px; }

.postleft { border-right: 1px dotted black; padding-right: 10px; margin-right: 10px;
float: left; width: 150px; overflow: hidden; }
.postleft dd { font-size: 12px; }
.authority { margin: 4px 0; }

.linkst { float: right; }
.blockform * { margin: 5px 0; }
.blockform textarea { width: 100%; height: 300px; }
.quickpost { margin-top: 20px; border-top: 1px dotted black; }

.categoryhead { position:relative; padding: 2px 10px; }

#brdstats { margin-top: 20px; }
#brdstats legend { margin-left: 30px; }
.conr, .conl { width: 40%; margin: 10px;}
.conr { float: right; text-align: right; }
.conl { float: left; }

.postmsg { 
	float: right; 
	overflow: hidden;
	width: 715px;
}
.postmsg blockquote { background: #dddddd; font-style: italic; width: 100%; }
.postmsg blockquote em { font-weight: bold; }
.postmsg * { max-width: 715px; max-height: 500px; }

.box { 
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px; 
}

/* emoticons */
.ei_smile, .ei_neutral, .ei_sad, .ei_big_smile, 
.ei_yikes, .ei_wink, .ei_hmm, .ei_tongue, .ei_lol, 
.ei_mad, .ei_roll, .ei_cool { width: 16px; height:16px;
	display: inline-block; background-position: center;
}

.ei_smile { background-image: url("./smilies/ei_smile.png"); }
.ei_neutral { background-image: url("smilies/ei_neutral.png"); }
.ei_sad { background-image: url("smilies/ei_sad.png"); }
.ei_big_smile { background-image: url("smilies/ei_big_smile.png"); }
.ei_yikes { background-image: url("smilies/ei_yikes.png"); }
.ei_wink { background-image: url("smilies/ei_wink.png"); }
.ei_hmm { background-image: url("./smilies/ei_hmm.png"); }
.ei_tongue { background-image: url("smilies/ei_tongue.png"); }
.ei_lol { background-image: url("smilies/ei_lol.png"); } 
.ei_mad { background-image: url("smilies/ei_mad.png"); }
.ei_roll { background-image: url(smilies/ei_roll.png"); }
.ei_cool { background-image: url(smilies/ei_cool.png"); }
