{% extends 'feincmsforum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block extrahead %}
{{ form.media }}
<script type="text/javascript" src="{{ STATIC_URL }}feincmsforum/js/board.js"></script>
{% endblock %}

{% block readcrumbs %}
<li>&raquo; <a href="{{ forum.translation.get_absolute_url }}">{{ forum.name }}</a></li>
<li class="selected">&raquo; {% trans "New topic" %}</li>
{% endblock %}

{% block bbcontent %}

<h2>{% trans "New topic" %}</h2>

<form id="post" class="blockform" action="" method="post">
	{% csrf_token %}
	<p>Název tématu:{{ form.name }}</p>
	<p>Příspěvek:</p>
	{{ form.body }}
	<p class="submit">
		<input type="submit" value="{% trans "Submit" %}" />
		<input type="submit" onclick="javascript:history.go(-1)" value="{% trans "Go back" %}" />
	</p>
</form>

{% endblock %}
