{% extends feincms_page.template.path|default:"base.html" %}

{% load forum_extras i18n %}

{% block extrastyle %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}feincmsforum/css/base.css" />
{% endblock %}

{% block extrahead %}
<link rel="alternate" type="application/atom+xml" href="{% url forum_posts_feed %}" title="{% trans "Latest posts on forum" %}" />
<link rel="alternate" type="application/atom+xml" href="{% url forum_topics_feed %}" title="{% trans "Latest topics on forum" %}" />
{% endblock %}

{% block content %}

<div id="djangoBB" class="djangobb">
{% block bbcontent %}{% endblock %}
</div> <!-- djangoBB -->

{% endblock %}