{% extends 'feincmsforum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block breadcrumb %}{{ block.super }}
<li class="selected">&raquo; {% trans 'Forums' %}</li>
{% endblock %}

{% block bbcontent %}

<div id="idx1" class="blocktable">
{% for iter in cats %}
	<div id="category_head_{{ iter.id }}" class="ui-widget-header categoryhead">
		<span>{{ iter.cat }}</span>
	</div>
	<div id="category_body_{{ iter.id }}">
		<table cellspacing="0">
			<thead>
				<tr>
					<th class="tcl" scope="col">{% trans "Forum" %}</th>
					<th class="tc2" scope="col">{% trans "Topics" %}</th>
					<th class="tc3" scope="col">{% trans "Posts" %}</th>
					<th class="tcr" scope="col">{% trans "Last post" %}</th>
				</tr>
			</thead>
			<tbody>
			{% for forum in iter.forums %}
				{% include 'feincmsforum/forum_row.html' %}
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endfor %}
</div>

<div id="brdstats" class="block">
  <fieldset>
  <legend>{% trans "Board information" %}</legend>
	<div class="inbox">
		<dl class="conr">
			<dt><span class="bold">{% trans "Board statistics" %}</span></dt>
			<dd>{% trans "Total number of registered users:" %} {{ users }}</dd>
			<dd>{% trans "Total number of topics:" %} {{ topics }}</dd>
			<dd>{% trans "Total number of posts:" %} {{ posts }}</dd>
		</dl>
		<dl class="conl">
			<dt><span class="bold">{% trans "User information" %}</span></dt>
			<dd>{% trans "Newest registered user:" %} {{ last_user }}</dd>
			<dd>{% trans "Registered users online:" %} {{ online_count }}</dd>
			<dd>{% trans "Guests online:" %} {{ guest_count }}</dd>
		</dl>
        {% if online_count %}
            <dl id="onlinelist" class= "clearb">
                <dt>{% trans "Online:" %} </dt>
                {% for online in users_online %}
                    <dd>{{ online }}</dd>
                {% endfor %}
            </dl>
        {% endif %}
	</div>
	</fieldset>
</div>
{% endblock %}

{% block controls %}
{% comment %}
<dl id="searchlinks" class="conl">
	<dt><strong>{% trans "Search links" %}</strong></dt>
	<dd><a href="{% url djangobb:search %}?action=show_24h">{% trans "Show recent posts" %}</a></dd>
	<dd><a href="{% url djangobb:search %}?action=show_unanswered">{% trans "Show unanswered posts" %}</a></dd>
	{% if user.is_authenticated %}
		<dd><a href="{% url djangobb:search %}?action=show_subscriptions">{% trans "Show your subscribed topics" %}</a></dd>
		<dd><a href="{% url djangobb:search %}?action=show_user&amp;user_id={{ request.user.id }}">{% trans "Show your posts" %}</a></dd>
	{% endif %}
</dl>
{% endcomment %}
{% endblock %}
