{% load i18n %}
{% if paginator.num_pages > 1 %}
	{% trans "Pages" %}: 
	{% if paginator.has_previous %}
		<a href="?page={{ paginator.previous_page_number }}">&laquo;</a>
	{% endif %}
	{% for number in paginator.page_range %}
		{% if number == page.number %}
			<strong>{{ number }}</strong> 
		{% endif %}
		{% if number != page.number %}
			<a href="?page={{ number }}">{{ number }}</a>
		{% endif %}
	{% endfor %}
	{% if paginator.has_next %}
		<a href="?page={{ paginator.next_page_number }}">&raquo;</a>
	{% endif %}
{% endif %}
