{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block breadcrumb %}{{ block.super }}
<li>&raquo; <a href="{% url djangobb:index %}">{% trans 'Forums' %}</a></li>
<li class="selected">&raquo; {% trans "Report post" %}</li>
{% endblock %}

{% block bbcontent %}

<h2>{% trans "Report post" %}</h2>
	
<div class="blockform">
	{% trans "Please enter a short reason why you are reporting this post" %}
	<form id="report" method="post">
		{% csrf_token %}
		<div class="inform">
			<div class="infldset txtarea">
				{{ form.post }}
				<label>{% trans "Reason" %}<br />
				{{ form.reason }}
				<br /></label>
			</div>
		</div>
		<input type="submit" name="submit" value="{% trans "Submit" %}" 
			accesskey="s" class="form-submit"/>
		<a href="javascript:history.go(-1)" class="form-submit">{% trans "Go back" %}</a>
	</form>
</div>
{% endblock %}

{% block controls %}
{% endblock %}
