{% load i18n applicationcontent_tags %}

<form id="qjump" method="get" action="forum">
	<div><label>{% trans "Jump to " %}
	
	<select name="id" id="forum_id" onchange="window.location=('{{feincms_page.get_absolute_url}}'+this.options[this.selectedIndex].value)">
		{% for category in categories %}
			<optgroup label="{{ category }}">
				{% for forum in category.forums.all %}
					<option value="{{ forum.id }}">{{ forum }}</option>
				{% endfor %}
			</optgroup>
		{% endfor %}
	</select>
	<input type="button" onclick="window.location=('{{feincms_page.get_absolute_url}}'+getElementById('forum_id').value)" value=" {% trans "Go" %} " accesskey="g" />
	</label></div>
</form>